.logo-style {
  height: 80px;
  width: 80px;
  background: #f7f7f7;
  padding: 10px;
  border-radius: 48px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin-bottom: 15px;
}

.logo-style img {
  margin: auto;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover
{
   color:#000000;
   text-decoration:none;
   cursor:pointer;
}
