<div class="container-fluid">
  <div class="row">
    <h1>All Resource</h1>
  </div>
  <div class="row mt-2">
    <app-accessibility></app-accessibility>
    <app-animation></app-animation>
    <app-books-design></app-books-design>
    <app-color-design></app-color-design>
    <app-content-design></app-content-design>
    <app-designsystem-design></app-designsystem-design>
    <app-gradient-design></app-gradient-design>
    <app-icon-designsign></app-icon-designsign>
    <app-illustration-design></app-illustration-design>
    <app-inspiration-design></app-inspiration-design>
    <app-mockup-design></app-mockup-design>
    <app-patternbg-design></app-patternbg-design>
    <app-image-design></app-image-design>
    <app-video-design></app-video-design>
    <app-typography-design></app-typography-design>
  </div>
</div>
