<div class="container-fluid">
  <div class="row">
    <h2>Content</h2>
  </div>
  <div class="row mt-2" style="overflow-y: scroll;height: 32rem;">
    <div class="col-md-4 p-2" *ngFor="let item of listItem">
      <a [href]="item.link" target="_blank">
        <div class="card">
          <div class="card-body">
            <div class="logo-style">
              <img [src]="item.logo" height="50">
            </div>
            <h4> {{ item.name }}</h4>
            <p>{{ item.description }}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
