/* You can add global styles to this file, and also import other style files */
.card {
  border: 0px solid rgba(0,0,0,.125) !important;
  min-height: 200px !important;
  background: hsl(0, 0%, 100%) !important;
  border-radius: 20px !important;

  padding: 20px;
  box-sizing: border-box;
  vertical-align: top;
  margin-right: 15px;
  margin-bottom: 15px;
  display: inline-block;
  //width: calc(33.33% - 21.5px);
  //background: #fff;
  // box-shadow: 8px 16px 80px -36px rgb(0 81 132 / 25%);
  box-shadow: 0 6px 24px 0 rgb(0 0 0 / 1%);
  border-radius: 16px;

  h4 {
    height: 60px;
  }

  p {
    height: 75px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    -moz-line-clamp: 5;
    -ms-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
  }
}

.card:hover {
  text-decoration: none!important;
  box-shadow: 0 6px 24px 0 rgb(0 0 0 / 10%);
  background: #fff;
  transition: box-shadow .25s linear;
}


/* scroll bar style */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(245, 245, 245);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(241, 241, 241);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(216, 216, 216);
}

.logo-style {
  height: 80px;
  width: 80px;
  // background: #f7f7f7;
  // padding: 10px;
  // border-radius: 48px;
  display: flex;
  // justify-content: center;
  vertical-align: middle;
  margin-bottom: 15px;
}

.logo-style img {
  margin: auto;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover
{
   color:#000000;
   text-decoration:none;
   cursor:pointer;
}

